.git
**/node_modules
Dockerfile*
docker-compose*.yml
.yarn/cache
**/.next
.dev

apps/backend/**
!apps/backend/tsconfig.json
!apps/backend/package.json
!apps/backend/src/**
!apps/backend/.env.project

apps/frontend/**
!apps/frontend/src/**
!apps/frontend/public/**
!apps/frontend/*.js
!apps/frontend/*.ts
!apps/frontend/*.json
!apps/frontend/.env.project
!apps/frontend/.eslintrc.yml
!apps/frontend/sentry.properties


packages/api-client/**
!packages/api-client/src/**
!packages/api-client/*.json

packages/common/**
!packages/common/src/**
!packages/common/*.json

packages/contracts/**
!packages/contracts/scripts/**
!packages/contracts/src/**
!packages/contracts/*.ts
!packages/contracts/*.json

packages/prisma/**
!packages/prisma/src/**
!packages/prisma/*.json

packages/subgraph/**
!packages/subgraph/*.yml
!packages/subgraph/*.yaml
!packages/subgraph/*.graphql
!packages/subgraph/*.json
!packages/subgraph/src/**
!packages/subgraph/queries/**